<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <div id="moves-holder">
        moves
      </div>
    </div>
  </div>

  
  <div class="row">

    <!-- Search Pokemon Start -->
    <div class="col-1 offset-3">
      <input id="input-pokemon" type="text" placeholder="Search Pokemon..."></input>
    </div>
    <!-- Search Pokemon End -->

    <!-- Search Moves Start -->
    <div class="col-1 offset-5">
      <input id="input-moves" type="text" placeholder="Search Moves..."></input>
    </div>
    <!-- Search Moves End -->


  </div>
  <br />
  
  <div class="row">

    <!-- Party Box Start -->
    <div class="col-2">
      <div class="party-box-outer">
        <div id="party-box-1" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-2" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-3" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-4" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-5" class="party-box std-lb"></div>
      </div>
      <div class="party-box-outer">
        <div id="party-box-6" class="party-box std-lb"></div>
      </div>
      
      <!-- Save Party Start -->

      <%= form_for :party do |f| %>
        <%= f.hidden_field :user, value: User.find(current_user.id).email %>
        <script type="text/javascript">
          function isEmpty(inElement) { return !$.trim($(inElement).html()) }
          function isNotEmpty(inElement) { return !isEmpty(inElement) }

          function checkPartyBox1() { return isNotEmpty('#party-box-1') }
          function checkPartyBox2() { return isNotEmpty('#party-box-2') }
          function checkPartyBox3() { return isNotEmpty('#party-box-3') }
          function checkPartyBox4() { return isNotEmpty('#party-box-4') }
          function checkPartyBox5() { return isNotEmpty('#party-box-5') }
          function checkPartyBox6() { return isNotEmpty('#party-box-6') }

          function checkMove1_1() { return isNotEmpty('#party-box-1 #selected-move-1') }
          function checkMove1_2() { return isNotEmpty('#party-box-1 #selected-move-2') }
          function checkMove1_3() { return isNotEmpty('#party-box-1 #selected-move-3') }
          function checkMove1_4() { return isNotEmpty('#party-box-1 #selected-move-4') }
          
          function checkMove2_1() { return isNotEmpty('#party-box-2 #selected-move-1') }
          function checkMove2_2() { return isNotEmpty('#party-box-2 #selected-move-2') }
          function checkMove2_3() { return isNotEmpty('#party-box-2 #selected-move-3') }
          function checkMove2_4() { return isNotEmpty('#party-box-2 #selected-move-4') }
          
          function checkMove3_1() { return isNotEmpty('#party-box-3 #selected-move-1') }
          function checkMove3_2() { return isNotEmpty('#party-box-3 #selected-move-2') }
          function checkMove3_3() { return isNotEmpty('#party-box-3 #selected-move-3') }
          function checkMove3_4() { return isNotEmpty('#party-box-3 #selected-move-4') }
          
          function checkMove4_1() { return isNotEmpty('#party-box-4 #selected-move-1') }
          function checkMove4_2() { return isNotEmpty('#party-box-4 #selected-move-2') }
          function checkMove4_3() { return isNotEmpty('#party-box-4 #selected-move-3') }
          function checkMove4_4() { return isNotEmpty('#party-box-4 #selected-move-4') }
          
          function checkMove5_1() { return isNotEmpty('#party-box-5 #selected-move-1') }
          function checkMove5_2() { return isNotEmpty('#party-box-5 #selected-move-2') }
          function checkMove5_3() { return isNotEmpty('#party-box-5 #selected-move-3') }
          function checkMove5_4() { return isNotEmpty('#party-box-5 #selected-move-4') }
          
          function checkMove6_1() { return isNotEmpty('#party-box-6 #selected-move-1') }
          function checkMove6_2() { return isNotEmpty('#party-box-6 #selected-move-2') }
          function checkMove6_3() { return isNotEmpty('#party-box-6 #selected-move-3') }
          function checkMove6_4() { return isNotEmpty('#party-box-6 #selected-move-4') }
          
          var cPokeBox1;
          var cMove1_1;
          var cMove1_2;
          var cMove1_3;
          var cMove1_4;
          var cPokeBox2;
          var cMove2_1;
          var cMove2_2;
          var cMove2_3;
          var cMove2_4;
          var cPokeBox3;
          var cMove3_1;
          var cMove3_2;
          var cMove3_3;
          var cMove3_4;
          var cPokeBox4;
          var cMove4_1;
          var cMove4_2;
          var cMove4_3;
          var cMove4_4;
          var cPokeBox5;
          var cMove5_1;
          var cMove5_2;
          var cMove5_3;
          var cMove5_4;
          var cPokeBox6;
          var cMove6_1;
          var cMove6_2;
          var cMove6_3;
          var cMove6_4;

          if (checkPartyBox1) {
            cPokeBox1 = $('#party-box-1 .moves-poke-box-div').attr('pokemon-name');
            if (checkMove1_1) { cMove1_1 = $('#party-box-1 #selected-move-1 > div').attr('move-name') + "|" + $('#party-box-1 #selected-move-1 > div').attr('move-type') } else { cMove1_1 = "N/A" }
            if (checkMove1_2) { cMove1_2 = $('#party-box-1 #selected-move-2 > div').attr('move-name') + "|" + $('#party-box-1 #selected-move-2 > div').attr('move-type') } else { cMove1_2 = "N/A" }
            if (checkMove1_3) { cMove1_3 = $('#party-box-1 #selected-move-3 > div').attr('move-name') + "|" + $('#party-box-1 #selected-move-3 > div').attr('move-type') } else { cMove1_3 = "N/A" }
            if (checkMove1_4) { cMove1_4 = $('#party-box-1 #selected-move-4 > div').attr('move-name') + "|" + $('#party-box-1 #selected-move-4 > div').attr('move-type') } else { cMove1_4 = "N/A" }
          } else { cPokeBox1 = "N/A" }
          
          if (checkPartyBox2) {
            cPokeBox2 = $('#party-box-2 .moves-poke-box-div').attr('pokemon-name');
            if (checkMove2_1) { cMove2_1 = $('#party-box-2 #selected-move-1 > div').attr('move-name') + "|" + $('#party-box-2 #selected-move-1 > div').attr('move-type') } else { cMove2_1 = "N/A" }
            if (checkMove2_2) { cMove2_2 = $('#party-box-2 #selected-move-2 > div').attr('move-name') + "|" + $('#party-box-2 #selected-move-2 > div').attr('move-type') } else { cMove2_2 = "N/A" }
            if (checkMove2_3) { cMove2_3 = $('#party-box-2 #selected-move-3 > div').attr('move-name') + "|" + $('#party-box-2 #selected-move-3 > div').attr('move-type') } else { cMove2_3 = "N/A" }
            if (checkMove2_4) { cMove2_4 = $('#party-box-2 #selected-move-4 > div').attr('move-name') + "|" + $('#party-box-2 #selected-move-4 > div').attr('move-type') } else { cMove1_4 = "N/A" }
          } else { cPokeBox2 = "N/A" }
          
          if (checkPartyBox3) {
            cPokeBox3 = $('#party-box-3 .moves-poke-box-div').attr('pokemon-name');
            if (checkMove3_1) { cMove3_1 = $('#party-box-3 #selected-move-1 > div').attr('move-name') + "|" + $('#party-box-3 #selected-move-1 > div').attr('move-type') } else { cMove3_1 = "N/A" }
            if (checkMove3_2) { cMove3_2 = $('#party-box-3 #selected-move-2 > div').attr('move-name') + "|" + $('#party-box-3 #selected-move-2 > div').attr('move-type') } else { cMove3_2 = "N/A" }
            if (checkMove3_3) { cMove3_3 = $('#party-box-3 #selected-move-3 > div').attr('move-name') + "|" + $('#party-box-3 #selected-move-3 > div').attr('move-type') } else { cMove3_3 = "N/A" }
            if (checkMove3_4) { cMove3_4 = $('#party-box-3 #selected-move-4 > div').attr('move-name') + "|" + $('#party-box-3 #selected-move-4 > div').attr('move-type') } else { cMove3_4 = "N/A" }
          } else { cPokeBox3 = "N/A" }
          
          if (checkPartyBox4) {
            cPokeBox4 = $('#party-box-4 .moves-poke-box-div').attr('pokemon-name');
            if (checkMove4_1) { cMove4_1 = $('#party-box-4 #selected-move-1 > div').attr('move-name') + "|" + $('#party-box-4 #selected-move-1 > div').attr('move-type') } else { cMove4_1 = "N/A" }
            if (checkMove4_2) { cMove4_2 = $('#party-box-4 #selected-move-2 > div').attr('move-name') + "|" + $('#party-box-4 #selected-move-2 > div').attr('move-type') } else { cMove4_2 = "N/A" }
            if (checkMove4_3) { cMove4_3 = $('#party-box-4 #selected-move-3 > div').attr('move-name') + "|" + $('#party-box-4 #selected-move-3 > div').attr('move-type') } else { cMove4_3 = "N/A" }
            if (checkMove4_4) { cMove4_4 = $('#party-box-4 #selected-move-4 > div').attr('move-name') + "|" + $('#party-box-4 #selected-move-4 > div').attr('move-type') } else { cMove4_4 = "N/A" }
          } else { cPokeBox4 = "N/A" }
          
          if (checkPartyBox5) {
            cPokeBox5 = $('#party-box-5 .moves-poke-box-div').attr('pokemon-name');
            if (checkMove5_1) { cMove5_1 = $('#party-box-5 #selected-move-1 > div').attr('move-name') + "|" + $('#party-box-5 #selected-move-1 > div').attr('move-type') } else { cMove5_1 = "N/A" }
            if (checkMove5_2) { cMove5_2 = $('#party-box-5 #selected-move-2 > div').attr('move-name') + "|" + $('#party-box-5 #selected-move-2 > div').attr('move-type') } else { cMove5_2 = "N/A" }
            if (checkMove5_3) { cMove5_3 = $('#party-box-5 #selected-move-3 > div').attr('move-name') + "|" + $('#party-box-5 #selected-move-3 > div').attr('move-type') } else { cMove5_3 = "N/A" }
            if (checkMove5_4) { cMove5_4 = $('#party-box-5 #selected-move-4 > div').attr('move-name') + "|" + $('#party-box-5 #selected-move-4 > div').attr('move-type') } else { cMove5_4 = "N/A" }
          } else { cPokeBox5 = "N/A" }
          
          if (checkPartyBox6) {
            cPokeBox6 = $('#party-box-6 .moves-poke-box-div').attr('pokemon-name');
            if (checkMove6_1) { cMove6_1 = $('#party-box-6 #selected-move-1 > div').attr('move-name') + "|" + $('#party-box-6 #selected-move-1 > div').attr('move-type') } else { cMove6_1 = "N/A" }
            if (checkMove6_2) { cMove6_2 = $('#party-box-6 #selected-move-2 > div').attr('move-name') + "|" + $('#party-box-6 #selected-move-2 > div').attr('move-type') } else { cMove6_2 = "N/A" }
            if (checkMove6_3) { cMove6_3 = $('#party-box-6 #selected-move-3 > div').attr('move-name') + "|" + $('#party-box-6 #selected-move-3 > div').attr('move-type') } else { cMove6_3 = "N/A" }
            if (checkMove6_4) { cMove6_4 = $('#party-box-6 #selected-move-4 > div').attr('move-name') + "|" + $('#party-box-6 #selected-move-4 > div').attr('move-type') } else { cMove6_4 = "N/A" }
          } else { cPokeBox6 = "N/A" }

          $.ajax({
              data: { rpokemon1: cPokeBox1, rmove1_1: cMove1_1, rmove1_2: cMove1_2, rmove1_3: cMove1_3, rmove1_4: cMove1_4, rpokemon2: cPokeBox2, rmove2_1: cMove2_1, rmove2_2: cMove2_2, rmove2_3: cMove2_3, rmove2_4: cMove2_4, rpokemon3: cPokeBox3, rmove3_1: cMove3_1, rmove3_2: cMove3_2, rmove3_3: cMove3_3, rmove3_4: cMove3_4, rpokemon4: cPokeBox4, rmove4_1: cMove4_1, rmove4_2: cMove4_2, rmove4_3: cMove4_3, rmove4_4: cMove4_4, rpokemon5: cPokeBox5, rmove5_1: cMove5_1, rmove5_2: cMove5_2, rmove5_3: cMove5_3, rmove5_4: cMove5_4, rpokemon6: cPokeBox6, rmove6_1: cMove6_1, rmove6_2: cMove6_2, rmove6_3: cMove6_3, rmove6_4: cMove6_4 },
              type: 'post',
              url: 'parties/create'
            });

        </script>
        <%= f.hidden_field :pokemon1, value: :rpokemon1 %>
        <%= f.hidden_field :move1_1, value: :rmove1_1 %>
        <%= f.hidden_field :move1_2, value: :rmove1_2 %>
        <%= f.hidden_field :move1_3, value: :rmove1_3 %>
        <%= f.hidden_field :move1_4, value: :rmove1_4 %>

        <%= f.hidden_field :pokemon2, value: :rpokemon2 %>
        <%= f.hidden_field :move2_1, value: :rmove2_1 %>
        <%= f.hidden_field :move2_2, value: :rmove2_2 %>
        <%= f.hidden_field :move2_3, value: :rmove2_3 %>
        <%= f.hidden_field :move2_4, value: :rmove2_4 %>

        <%= f.hidden_field :pokemon3, value: :rpokemon3 %>
        <%= f.hidden_field :move3_1, value: :rmove3_1 %>
        <%= f.hidden_field :move3_2, value: :rmove3_2 %>
        <%= f.hidden_field :move3_3, value: :rmove3_3 %>
        <%= f.hidden_field :move3_4, value: :rmove3_4 %>

        <%= f.hidden_field :pokemon4, value: :rpokemon4 %>
        <%= f.hidden_field :move4_1, value: :rmove4_1 %>
        <%= f.hidden_field :move4_2, value: :rmove4_2 %>
        <%= f.hidden_field :move4_3, value: :rmove4_3 %>
        <%= f.hidden_field :move4_4, value: :rmove4_4 %>

        <%= f.hidden_field :pokemon5, value: :rpokemon5 %>
        <%= f.hidden_field :move5_1, value: :rmove5_1 %>
        <%= f.hidden_field :move5_2, value: :rmove5_2 %>
        <%= f.hidden_field :move5_3, value: :rmove5_3 %>
        <%= f.hidden_field :move5_4, value: :rmove5_4 %>

        <%= f.hidden_field :pokemon6, value: :rpokemon6 %>
        <%= f.hidden_field :move6_1, value: :rmove6_1 %>
        <%= f.hidden_field :move6_2, value: :rmove6_2 %>
        <%= f.hidden_field :move6_3, value: :rmove6_3 %>
        <%= f.hidden_field :move6_4, value: :rmove6_4 %>

        <%= f.submit 'Save Party', class: "poke-button" %>
      <% end %>


      <form action="saveParty">
        <input type="hidden" name="">        
      </form>

      <!-- Pokemon.create( pokedex_number: pmNum, name: pmName, type1: pmType1, type2: pmType2, sprite: pmSprite ) -->
      
      <!-- Save Party End -->

    </div>
    <!-- Party Box End -->

    
    
    <!-- Pokemon Box Start -->
    <div class="col-2 offset-1">
      <div id="moves-poke-box">
        <ol id="moves-poke-box-ol" class="list-unstyled">
          
        </ol>
      </div>
    </div>
    <!-- Pokemon Box End -->

    <!-- Add To Party Box Start -->
    <div class="col-2 offset-1">
      <div id="party-box-hold"></div>
      <button disabled id="add-party-button" class="poke-button" type="button">Add To Party</button>
    </div>
    <!-- Add To Party Box End -->

    <!-- Move Box Start -->
    <div class="col-2 offset-1">
      <ul id="move-box-ul" class="list-unstyled">

      </ul>
    </div>
    <!-- Move Box End -->

  </div>


</div>



  


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  var baseURL = "https://pokeapi.co/api/v2/";
  function getAPI(resource, name="") {
    $.get(baseURL + resource + "/" + name, function(data, status) {
      var rsrce = data['"' + resource + '"']
      console.log(rsrce)
      return rsrce
    })
  }


  function getMoves(name) {
      $.get(baseURL + "pokemon/" + name, function(data, status) {
        var moves = data["moves"];
        // console.log(moves)
        $("#moves-holder").html(moves[0]["move"]["name"]);
      })
    }
    
    function getSprite(name) {
      $.get(baseURL + "pokemon/" + name, function(data, status) {
        // console.log(baseURL + "pokemon/" + name)
        var sprite = data["sprites"]["front_default"];
        // console.log(data["sprites"]["front_default"])
        // console.log(sprite.toString())
        return sprite.toString();
      });
    }


  // Selection Process - Up To "Add To Party"
  $(function(_SelectionProcess1) {
    $.get(baseURL + "pokemon?limit=20", function(data, status) { //Max Limit: 964
      $.each(data['results'], function(index, value) {
        $.get(value['url'], function(data, status) {
          var pokemonName = data['name'];
          var pokemonSprite = data['sprites']['front_default'];
          var pokemonTypes;
          if (data['types']['length'] == 2) {
            pokemonTypes = data['types'][0]['type']['name'] + " " + data['types'][1]['type']['name'];
          } else {
            pokemonTypes = data['types'][0]['type']['name'];
          }
          
          var pokedexNumber = data['id'];
          var insertJSON = (
            '<li id="moves-poke-box-li-' + pokemonName + '" class="moves-poke-box-li">' +
              '<div id="moves-poke-box-div-' + pokemonName + '" class="moves-poke-box-div" pokemon-name="' + pokemonName + '" pokemon-type="' + pokemonTypes + '" pokedex-number="' + pokedexNumber + '">' + 
                '<div class="container-fluid">' +
                  '<div class="row">' +
                    '<div id="moves-poke-box-img" class="align-self-center">' +
                      '<div id="moves-poke-box-' + pokemonName + '">' +
                      '<img id="sprite-' + pokemonName + '" src="' + pokemonSprite + '" alt="' + pokemonName + '" />' +
                      '</div>' +
                    '</div>' +
                    '<div id="moves-poke-box-name" class="moves-poke-box-name-class align-self-center">' +
                      pokemonName +
                    '</div>' +
                    '<table id="selected-moves">' +
                      '<tr>' +
                        '<td id="selected-move-1"></td>' +
                        '<td id="selected-move-3"></td>' +
                      '</tr>' +
                      '<tr>' +
                        '<td id="selected-move-2"></td>' +
                        '<td id="selected-move-4"></td>' +
                      '</tr>' +
                    '</table>' +
                  '</div>' +
                '</div>' +
              '</div>' +
            '</li>'
          );
          $('#moves-poke-box-ol').append(insertJSON);
        });
      });

      $("#moves-poke-box-ol").selectable({
        selected: function(event, ui) {
          $('#move-box-ul').empty();
          var insertJSON = (
            '<div id="party-box-hold"><div class="container-fluid"><div class="row">' + 
              ui['selected'].innerHTML + 
            '</div></div></div>'
          );
          $('#party-box-hold').replaceWith(insertJSON);
          $('#add-party-button').trigger('partyBoxHoldChange')
          $('#party-box-hold #selected-moves, #input-moves').css('display', 'block');
          _SelectMoves();
        }
      });
    });
  });

  // Select Moves
  function _SelectMoves() {
    var baseURL = "https://pokeapi.co/api/v2/";
    var selectedName = $('#party-box-hold #moves-poke-box-name').text();
    // console.log("selectedName: " + selectedName);
    $.get(baseURL + "pokemon/" + selectedName, function(data, status) {
      $.each(data['moves'], function(index, value) {
        var moveName = value['move']['name'].replace("-"," ");
        var moveURL = value['move']['url'];
        function typeGet() { return $.get(moveURL); }
        $.when(typeGet()).done(function(data, status) {
          var moveType = data['type']['name'];
          var insertJSON = (
            '<li id="move-box-li-' + selectedName + '-' + moveName + '" class="move-box-li">' +
              '<div id="move-box-div-' + selectedName + '-' + moveName + '" class="move-box-div" pokemon-name="' + selectedName + '" move-name="' + moveName + '" move-type="' + moveType + '">' +
                '<div class="container-fluid">' +
                  '<div class="row">' +
                    '<div id="move-box-type" class="mt-' + moveType + ' std-lb-imgbox"><div id="move-box-type-inner">' + moveType + '</div></div>' +
                    '<div id="move-box-name" class="align-self-center std-lb-namebox">' + moveName + '</div>' +
                  '</div>' +
                '</div>' +
              '</div>' +
            '</li>'
            );

          $('#move-box-ul').append(insertJSON);
          
          $('#move-box-ul > li').hide();
          
          $('#move-box-ul').selectable({
            selected: function(event, ui) {
              // console.log(ui);
              var selMoveName = $(ui['selected']).find("#move-box-name").text();
              var selMoveType = $(ui['selected']).find("#move-box-type").text();
              var selMoveSplitName = selMoveName.split(" ")
              var selMoveInitials = "";
              // console.log(selMoveName);
              // console.log(selMoveType);
              // console.log(selMoveSplitName);
              
              
              for (i in selMoveSplitName) {
                selMoveInitials = selMoveInitials + " " + selMoveSplitName[i].substring(0,1)
              }
              selMoveInitials = selMoveInitials.toUpperCase().trim();
              // console.log(selMoveInitials);

              var insertJSON = '<div class="mt-small-' + selMoveType + '" move-name="' + selMoveName + '" move-type="' + selMoveType + '"><p class="p-mt-small">' + selMoveInitials + '</p></div>'
              // console.log(insertJSON);

              function isEmpty(inElement) {
                return !$.trim($(inElement).html())
              }
              function isNotEmpty(inElement) {
                return !isEmpty(inElement)
              }
              if (isEmpty('#party-box-hold #selected-move-1')) {
                // document.getElementById('selected-move-1').innerHTML = insertJSON
                $('#party-box-hold #selected-move-1').append(insertJSON);
                $('#add-party-button').trigger('partyBoxHoldChange')
              } else if (isEmpty('#party-box-hold #selected-move-2')) {
                // document.getElementById('selected-move-2').innerHTML = insertJSON
                $('#party-box-hold #selected-move-2').append(insertJSON);
                $('#add-party-button').trigger('partyBoxHoldChange')
              } else if (isEmpty('#party-box-hold #selected-move-3')) {
                // document.getElementById('selected-move-3').innerHTML = insertJSON
                $('#party-box-hold #selected-move-3').append(insertJSON);
                $('#add-party-button').trigger('partyBoxHoldChange')
              } else if (isEmpty('#party-box-hold #selected-move-4')) {
                // document.getElementById('selected-move-4').innerHTML = insertJSON
                $('#party-box-hold #selected-move-4').append(insertJSON);
                $('#add-party-button').trigger('partyBoxHoldChange')
              } else {}
            }


          });


        });
      });
    });
  }


  // Selection Process - After "Add To Party"
  $(function (_SelectionProcess2) {
    $('#add-party-button').on('partyBoxHoldChange', function() {
      $('#add-party-button').attr('disabled', false);
      function isEmpty(inElement) {
        return !$.trim($(inElement).html())
      }
      function isNotEmpty(inElement) {
        return !isEmpty(inElement)
      }

      function nextOpenPartyBox() {
        if (isEmpty('#party-box-1')) {
          return '#party-box-1'
        } else if (isEmpty('#party-box-2')) {
          return '#party-box-2'
        } else if (isEmpty('#party-box-3')) {
          return '#party-box-3'
        } else if (isEmpty('#party-box-4')) {
          return '#party-box-4'
        } else if (isEmpty('#party-box-5')) {
          return '#party-box-5'
        } else if (isEmpty('#party-box-6')) {
          return '#party-box-6'
        }
      }

      var pokemonSelected = false;
      var moveSelected = false;
      var partyFull = true;

      if (isNotEmpty('#party-box-hold')) {
        pokemonSelected = true;
      }

      if (isNotEmpty('#party-box-hold #selected-move-1') || isNotEmpty('#party-box-hold #selected-move-2') || isNotEmpty('#party-box-hold #selected-move-3') || isNotEmpty('#party-box-hold #selected-move-4')) {
        moveSelected = true;
      }

      if (isEmpty('#party-box-1') || isEmpty('#party-box-2') || isEmpty('#party-box-3') || isEmpty('#party-box-4') || isEmpty('#party-box-5') || isEmpty('#party-box-6')) {
        partyFull = false;
      }

      $('#add-party-button').on('click', function() {
          if ((pokemonSelected == true) && (moveSelected == true) && (partyFull == false)) {
          var openPartyBox = nextOpenPartyBox();
          $(openPartyBox).append($('#party-box-hold').html());
          $('#party-box-hold').empty();
        } else { }
      });
    });
  });

  // Pokemon Search Box Filter
  $(function (_PokemonSearchBoxFilter) {
    $("#input-pokemon").on("input", function() {
      var currentInput = $(this).val().toLowerCase();
      if (currentInput == "") {
        $('#moves-poke-box-ol > li').hide();
      } else {
        $('#moves-poke-box-ol > li:not(:contains(' + currentInput + '))').hide(); 
        $('#moves-poke-box-ol > li:contains(' + currentInput + ')').show();  
      }
    });
  });

  // Moves Search Box Filter
  $(function (_MovesSearchBoxFilter) {
    $("#input-moves").on("input", function() {
      var currentInput = $(this).val().toLowerCase();
      if (currentInput == "") {
        $('#move-box-ul > li').hide();
      } else {
        $('#move-box-ul > li:not(:contains(' + currentInput + '))').hide(); 
        $('#move-box-ul > li:contains(' + currentInput + ')').show();  
      }
    });
  });

    


  
</script>