<p id="notice"><%= notice %></p>

<h1>Pokemon</h1>

<div class="row">
  <div class="col-10 offset-1">
    <div class="topnav">
      <input id="poke-filter" type="text" placeholder="Filter Pokemon" name="search">
    </div>
  </div>
</div>

<br />

<div class="Container-fluid">
  <div class="row">

    <!-- <div class= "col-3 offset-3">
      <div id="drop-box">
        Drop Box
      </div>
    </div>

    <div id="dis-advantage-list" class="offset-2">
      <div class="offset-2">
        <div id="advantage-list">
          Advantage
        </div>
      </div>

      <div class="offset">
        <div id="disadvantage-list" class="offset-1">
          Disadvantage
        </div>
      </div>
    </div> -->

    <div id="poke-box-all" class="col-2 offset-1">
      <% @pokemons.each_with_index do |pokemon| %>
        <div class="col-12 poke-box-home">
          <div id="id-<%= pokemon.name.downcase %>" class="poke-box">

            <div class="row">
              <div class="col-12 poke-box-image">Pokemon Image</div>
            </div>
            <div class="row">
              <div class="col-12 poke-box-text">
                <div class="row">
                  <div class="col-1 poke-box-number"><%= pokemon.pokedex_number %></div>
                  <div class="col-9 poke-box-name"><%= pokemon.name %></div>
                </div>
                <div class="row">
                  <div class="col-12 poke-box-type">
                    <div class="poke-box-type-1 pt-<%= pokemon.type1 %>"><%= pokemon.type1 %></div>
                    <% if pokemon.type2 != "N/A" %>
                      <div class="poke-box-type-2 pt-<%= pokemon.type2 %>"> <%= pokemon.type2 %> </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <br /><br />
      <% end %>

    </div>

    <div id="output-box" class="col-9 offset-3">
      <div id="output-row" class="row">
        <div id="drop-box" class="offset-2">Drop Box</div>

          <div id="advantage-list-outer" class="offset-1">
            <div id="advantage-list-title">Advantages</div>
            <div id="advantage-list">
              <ul id="ul-advantage-list"></ul>
            </div>
          </div>

          <div id="disadvantage-list-outer">
            <div id="disadvantage-list-title" class="offset-1">Disadvantages</div>
            <div id="disadvantage-list" class="offset-1">
              <ul id="ul-disadvantage-list"></ul>
            </div>
          </div>

          <div id="noeffect-list-outer">
            <div id="noeffect-list-title" class="offset-2">No Effect</div>
            <div id="noeffect-list" class="offset-2">
              <ul id="ul-noeffect-list"></ul>
            </div>
          </div>

          <div id="neutral-list-outer">
            <div id="neutral-list-title" class="offset-3">Neutral</div>
            <div id="neutral-list" class="offset-3">
              <ul id="ul-neutral-list"></ul>
            </div>
          </div>

      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="../../assets/javascripts/pokemons.js"></script>