<p id="notice"><%= notice %></p>

<h1>Pokemon</h1>

<div class="row">
  <div class="col-10 offset-1">
    <div class="topnav">
      <input id="poke-filter" type="text" placeholder="Search Pokemon" name="search">
    </div>
  </div>
</div>

<br />

<div class="Container-fluid">
  <div class="row">

    <!-- <div class= "col-3 offset-3">
      <div id="drop-box">
        Drop Box
      </div>
    </div>

    <div id="dis-advantage-list" class="offset-2">
      <div class="offset-2">
        <div id="advantage-list">
          Advantage
        </div>
      </div>

      <div class="offset">
        <div id="disadvantage-list" class="offset-1">
          Disadvantage
        </div>
      </div>
    </div> -->

    <div id="poke-box-all" class="col-2 offset-1">
      <% @pokemons.each_with_index do |pokemon| %>
        <div class="col-12 poke-box-home">
          <div id="id-<%= pokemon.name.downcase %>" class="poke-box">

            <div class="row dbg">
              <div class="col-12 poke-box-image dbg">Pokemon Image</div>
            </div>
            <div class="row dbg">
              <div class="col-12 poke-box-text dbg">
                <div class="row dbg">
                  <div class="col-1 poke-box-number"><%= pokemon.pokedex_number %></div>
                  <div class="col-10 poke-box-name"><%= pokemon.name %></div>
                </div>
                <div class="row dbg">
                  <div class="col-12 poke-box-type dbg">
                    <div class="poke-box-type-1 pt-<%= pokemon.type1 %> dbg"><%= pokemon.type1 %></div>
                    <% if pokemon.type2 != "N/A" %>
                      <div class="poke-box-type-2 pt-<%= pokemon.type2 %> dbg"><%= pokemon.type2 %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <br /><br />
      <% end %>

    </div>

    <div id="output-box" class="col-9 offset-3">
      <div class="row">
        <div id="drop-box" class="offset-2">Drop Box</div>
        <div id="advantage-list" class="offset-1">Advantage List</div>
        <div id="disadvantage-list">Disadvantage List</div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function(e) {
    $('.poke-box').click(function( event ) {
      var pokeName = $(this).children('.poke-box-name').text();
      console.log(this.innerHTML);
    });

    $(function(dragDrop) {
      $('.poke-box').draggable({
        snap: "#drop-box, .poke-box-home", snapMode: "inner", revert: 'invalid'
      });
      $('#drop-box, .poke-box-home').droppable({
        accept: '.poke-box'
      });
    })
    // $(function(pokeFilter) {
    //   $("#poke-filter").submit(function(e2) {
    //     e2.preventDefault();
    //   });
    //   var filterText = $('#poke-filter').val();
    //   $('.poke-box:contains("'+filterText+'")').show();
    // });


    // Search Filter Function
    //
    // $(document).ready(function(){
    //   $("#poke-filter").on("keyup", function() {
    //     var filterValue = $(this).val().toLowerCase();
    //     $("#poke-box-all div").filter(function() {
    //       $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1)
    //     });
    //   });
    // });


    // $('.new-lesson-button').click(function( event ) {
    //   var lessonUrl = $( event.target ).data('lesson-url');
    //   $('#newLessonForm').attr('action', lessonUrl );
    // });

    // $('.lessons').sortable({
    //   update: function( event, ui ) {
    //     $.ajax({
    //       type: 'PUT',
    //       url: ui.item.data('update-url'),
    //       dataType: 'json',
    //       data: { lesson: { row_order_position: ui.item.index() } }
    //     });
    //   }
    // });

    // $('.sections').sortable({
    //   update: function( event, ui ) {
    //     $.ajax({
    //       type: 'PUT',
    //       url: ui.item.data('update-url'),
    //       dataType: 'json',
    //       data: { section: { row_order_position: ui.item.index() } }
    //     });
    //   }
    // });
  });
</script>