<p id="notice"><%= notice %></p>

<h1>Pokemon</h1>

<div class="row">
  <div class="col-10 offset-1">
    <div class="topnav">
      <input id="poke-filter" type="text" placeholder="Search Pokemon" name="search">
    </div>
  </div>
</div>

<br />

<div class="Container-fluid">
  <div class="row">

    <!-- <div class= "col-3 offset-3">
      <div id="drop-box">
        Drop Box
      </div>
    </div>

    <div id="dis-advantage-list" class="offset-2">
      <div class="offset-2">
        <div id="advantage-list">
          Advantage
        </div>
      </div>

      <div class="offset">
        <div id="disadvantage-list" class="offset-1">
          Disadvantage
        </div>
      </div>
    </div> -->

    <div id="poke-box-all" class="col-2 offset-1">
      <% @pokemons.each_with_index do |pokemon| %>
        <div class="col-12 poke-box-home">
          <div id="id-<%= pokemon.name.downcase %>" class="poke-box">

            <div class="row">
              <div class="col-12 poke-box-image">Pokemon Image</div>
            </div>
            <div class="row">
              <div class="col-12 poke-box-text">
                <div class="row">
                  <div class="col-1 poke-box-number"><%= pokemon.pokedex_number %></div>
                  <div class="col-9 poke-box-name"><%= pokemon.name %></div>
                </div>
                <div class="row">
                  <div class="col-12 poke-box-type">
                    <div class="poke-box-type-1 pt-<%= pokemon.type1 %>"><%= pokemon.type1 %></div>
                    <% if pokemon.type2 != "N/A" %>
                      <div class="poke-box-type-2 pt-<%= pokemon.type2 %>"> <%= pokemon.type2 %> </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <br /><br />
      <% end %>

    </div>

    <div id="output-box" class="col-9 offset-3">
      <div class="row">
        <div id="drop-box" class="offset-2">Drop Box</div>

          <div id="advantage-list-outer" class="offset-1">
            <div id="advantage-list-title">Advantage List</div>
            <div id="advantage-list">
              <ul id="ul-advantage-list">
                A List
              </ul>
            </div>
          </div>

          <div id="disadvantage-list-outer">
            <div id="disadvantage-list-title" class="offset-1">Disadvantage List</div>
            <div id="disadvantage-list" class="offset-1">
              <ul id="ul-disadvantage-list">
                D List
              </ul>
            </div>
          </div>

          <div id="noeffect-list-outer">
            <div id="noeffect-list-title" class="offset-2">No Effect List</div>
            <div id="noeffect-list" class="offset-2">
              <ul id="ul-noeffect-list">
                NE List
              </ul>
            </div>
          </div>

          <div id="neutral-list-outer">
            <div id="neutral-list-title" class="offset-3">Neutral List</div>
            <div id="neutral-list" class="offset-3">
              <ul id="ul-neutral-list">
                N List
              </ul>
            </div>
          </div>

      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function() {
    
    function pokeDataOBJ(pokeBoxOuterHTML) {
      var pokeName = $(pokeBoxOuterHTML).children('.row').children('.poke-box-text').children('.row').children('.poke-box-name').text();
      var pokeNumber = $(pokeBoxOuterHTML).children('.row').children('.poke-box-text').children('.row').children('.poke-box-number').text();
      var pokeType1 = $(pokeBoxOuterHTML).children('.row').children('.poke-box-text').children('.row').children('.poke-box-type').children('.poke-box-type-1').text();
      var pokeType2 = $(pokeBoxOuterHTML).children('.row').children('.poke-box-text').children('.row').children('.poke-box-type').children('.poke-box-type-2').text();
      var pokeOBJ = { name: pokeName.trim(), number: pokeNumber.trim(), type1: pokeType1.trim(), type2: pokeType2.trim() };

      return pokeOBJ;
    }

    function effectDetermine(attackType1, attackType2) {
      var adDict = {
        "bug": {"advantage": ["grass","psychic","dark"], "disadvantage": ["fight","flying","poison","ghost","steel","fire","fairy"], "neutral": ["normal","ground","rock","bug","water","electric","ice","dragon"]},
        "dark": {"advantage": ["ghost","psychic"], "disadvantage": ["fight","dark","fairy"], "neutral": ["normal","flying","poison","ground","rock","bug","steel","fire","water","grass","electric","ice","dragon"]},
        "dragon": {"advantage": ["dragon"], "disadvantage": ["steel"], "neutral": ["normal","fight","flying","poison","ground","rock","bug","ghost","fire","water","grass","electric","psychic","ice","dark"], "noeffect": ["fairy"]},
        "electric": {"advantage": ["flying","water"], "disadvantage": ["grass","electric","dragon"], "neutral": ["normal","fight","poison","rock","bug","ghost","steel","fire","psychic","ice","dark","fairy"], "noeffect": ["ground"]},
        "fairy": {"advantage": ["fight","dragon","dark"], "disadvantage": ["poison","steel","fire"], "neutral": ["normal","flying","ground","rock","bug","ghost","water","grass","electric","psychic","ice","fairy"]},
        "fight": {"advantage": ["normal","rock","steel","ice","dark"], "disadvantage": ["flying","poison","bug","psychic","fairy"], "neutral": ["fight","ground","fire","water","grass","electric","dragon"], "noeffect": ["ghost"]},
        "fire": {"advantage": ["bug","steel","grass","ice"], "disadvantage": ["rock","fire","water","dragon"], "neutral": ["normal","fight","flying","poison","ground","ghost","electric","psychic","dark","fairy"]},
        "flying": {"advantage": ["fight","bug","grass"], "disadvantage": ["rock","steel","electric"], "neutral": ["normal","flying","poison","ground","ghost","fire","water","psychic","ice","dragon","dark","fairy"]},
        "ghost": {"advantage": ["ghost","psychic"], "disadvantage": ["dark"], "neutral": ["fight","flying","poison","ground","rock","bug","steel","fire","water","grass","electric","ice","dragon","fairy"], "noeffect": ["normal"]},
        "grass": {"advantage": ["ground","rock","water"], "disadvantage": ["flying","poison","bug","steel","fire","grass","dragon"], "neutral": ["normal","fight","ghost","electric","psychic","ice","dark","fairy"]},
        "ground": {"advantage": ["poison","rock","steel","fire","electric"], "disadvantage": ["bug","grass"], "neutral": ["normal","fight","ground","ghost","water","psychic","ice","dragon","dark","fairy"], "noeffect": ["flying"]},
        "ice": {"advantage": ["flying","ground","grass","dragon"], "disadvantage": ["steel","fire","water","ice"], "neutral": ["normal","fight","poison","rock","bug","ghost","electric","psychic","dark","fairy"]},
        "normal": {"advantage": [], "disadvantage": ["rock","steel"], "neutral": ["normal","fight","flying","poison","ground","bug","fire","water","grass","electric","psychic","ice","dragon","dark","fairy"], "noeffect": ["ghost"]},
        "poison": {"advantage": ["grass","fairy"], "disadvantage": ["poison","ground","rock","ghost"], "neutral": ["normal","fight","flying","bug","fire","water","electric","psychic","ice","dragon","dark"], "noeffect": ["steel"]},
        "psychic": {"advantage": ["fight","poison"], "disadvantage": ["steel","psychic"], "neutral": ["normal","flying","ground","rock","bug","ghost","fire","water","grass","electric","ice","dragon","fairy"], "noeffect": ["dark"]},
        "rock": {"advantage": ["flying","bug","fire","ice"], "disadvantage": ["fight","ground","steel"], "neutral": ["normal","poison","rock","ghost","water","grass","electric","psychic","dragon","dark","fairy"]},
        "steel": {"advantage": ["rock","ice","fairy"], "disadvantage": ["steel","fire","water","electric"], "neutral": ["normal","fight","flying","poison","ground","bug","ghost","grass","psychic","dragon","dark"]},
        "water": {"advantage": ["ground","rock","fire"], "disadvantage": ["water","grass","dragon"], "neutral": ["normal","fight","flying","poison","bug","ghost","steel","electric","psychic","ice","dark","fairy"]}
      };

      var advArr1 = adDict[attackType1]["advantage"];
      var disadvArr1 = adDict[attackType1]["disadvantage"];
      var noeArr1 = adDict[attackType1]["noeffect"];
      var neutrArr1 = adDict[attackType1]["neutral"];
      
      if (attackType2 !== 'undefined') {
        if (attackType2 != "") {
          var advArr2 = adDict[attackType2]["advantage"];
          var disadvArr2 = adDict[attackType2]["disadvantage"];
          var noeArr2 = adDict[attackType2]["noeffect"];
          var neutrArr2 = adDict[attackType2]["neutral"];
        } else {
          var advArr2 = "";
          var disadvArr2 = "";
          var noeArr2 = "";
          var neutrArr2 = "";
        }
      }

      var effectArr1 = [advArr1, disadvArr1, noeArr1, neutrArr1];
      var effectArr2 = [advArr2, disadvArr2, noeArr2, neutrArr2];

      var effectArr = [effectArr1, effectArr2];

      return effectArr;

    }



    
      
      
    var pokeOBJ;
    var advantageList = $('ul#ul-advantage-list')
    var disadvantageList = $('ul#ul-disadvantage-list')
    var noeffectList = $('ul#ul-noeffect-list')
    var neutralList = $('ul#ul-neutral-list')
    
    $('.poke-box').draggable({
      snap: "#drop-box, .poke-box-home", snapMode: "inner", revert: 'invalid'
    });

    $('.poke-box').on("dragstart", function(event, ui) {
      pokeOBJ = pokeDataOBJ(this.outerHTML);
      console.log(pokeOBJ);
    });


    $('#drop-box, .poke-box-home').droppable({
      accept: '.poke-box'
    });

    $('#drop-box, .poke-box-home').on( "drop", function(event, ui) {
        console.log(pokeOBJ.name);
        console.log(pokeOBJ.number);
        console.log(pokeOBJ.type1);
        console.log(pokeOBJ.type2);
        var determinedEffect = effectDetermine(pokeOBJ.type1, pokeOBJ.type2);
        console.log(determinedEffect);

        $.each(determinedEffect, function(i) {

          var li_advantage = $('<li/>')
            .addClass('li-advantage-list')
            .appendTo(advantageList);
          var a_advantage = $('<a/>')
            .addClass('a-advantage-list')
            .text(determinedEffect[0][0][i])
            .appendTo(li_advantage);

           var li_disadvantage = $('<li/>')
            .addClass('li-disadvantage-list')
            .appendTo(disadvantageList);
          var a_disadvantage = $('<a/>')
            .addClass('a-disadvantage-list')
            .text(determinedEffect[0][1][i])
            .appendTo(li_disadvantage);

          if (typeof determinedEffect[0][2] !== 'undefined') {
          var li_noeffect = $('<li/>')
            .addClass('li-noeffect-list')
            .appendTo(advantageList);
          var a_noeffect = $('<a/>')
            .addClass('a-noeffect-list')
            .text(determinedEffect[0][2][i])
            .appendTo(li_noeffect);
          }

          var li_neutral = $('<li/>')
            .addClass('li-neutral-list')
            .appendTo(neutralList);
          var a_neutral = $('<a/>')
            .addClass('a-neutral-list')
            .text(determinedEffect[0][3][i])
            .appendTo(li_neutral);



          var li_advantage = $('<li/>')
            .addClass('li-advantage-list')
            .appendTo(advantageList);
          var a_advantage = $('<a/>')
            .addClass('a-advantage-list')
            .text(determinedEffect[1][0][i])
            .appendTo(li_advantage);

           var li_disadvantage = $('<li/>')
            .addClass('li-disadvantage-list')
            .appendTo(disadvantageList);
          var a_disadvantage = $('<a/>')
            .addClass('a-disadvantage-list')
            .text(determinedEffect[1][1][i])
            .appendTo(li_disadvantage);

          if (typeof determinedEffect[1][2] !== 'undefined') {
          var li_noeffect = $('<li/>')
            .addClass('li-noeffect-list')
            .appendTo(advantageList);
          var a_noeffect = $('<a/>')
            .addClass('a-noeffect-list')
            .text(determinedEffect[1][2][i])
            .appendTo(li_noeffect);
          }

          var li_neutral = $('<li/>')
            .addClass('li-neutral-list')
            .appendTo(neutralList);
          var a_neutral = $('<a/>')
            .addClass('a-neutral-list')
            .text(determinedEffect[1][3][i])
            .appendTo(li_neutral);
        });
      });


    // $(function(pokeFilter) {
    //   $("#poke-filter").submit(function(e2) {
    //     e2.preventDefault();
    //   });
    //   var filterText = $('#poke-filter').val();
    //   $('.poke-box:contains("'+filterText+'")').show();
    // });


    // Search Filter Function
    //
    // $(document).ready(function(){
    //   $("#poke-filter").on("keyup", function() {
    //     var filterValue = $(this).val().toLowerCase();
    //     $("#poke-box-all div").filter(function() {
    //       $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1)
    //     });
    //   });
    // });


    // $('.new-lesson-button').click(function( event ) {
    //   var lessonUrl = $( event.target ).data('lesson-url');
    //   $('#newLessonForm').attr('action', lessonUrl );
    // });

    // $('.lessons').sortable({
    //   update: function( event, ui ) {
    //     $.ajax({
    //       type: 'PUT',
    //       url: ui.item.data('update-url'),
    //       dataType: 'json',
    //       data: { lesson: { row_order_position: ui.item.index() } }
    //     });
    //   }
    // });

    // $('.sections').sortable({
    //   update: function( event, ui ) {
    //     $.ajax({
    //       type: 'PUT',
    //       url: ui.item.data('update-url'),
    //       dataType: 'json',
    //       data: { section: { row_order_position: ui.item.index() } }
    //     });
    //   }
    // });
  });
</script>