<!DOCTYPE html>
<html>
  <head>
    <title>PokemonTypeCompare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row static-header">
      <div class="col-10 offset-1 banner-text">
        Pokemon Type Comparer
      </div>
    </div>

    <%= yield %>

    
  </body>
</html>
