<!DOCTYPE html>
<html>
  <head>
    <title>My Pokemon Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <div class="row">
        <div id="static-header">
          My Pokemon Party
        </div>
      </div>


      <div class="row">
        <div class="col-1">
          <nav id="static-sidebar">
            <%= link_to 'My Party', root_path, class: 'a-link-sidebar nav-link' %>
            <%= link_to 'How To Use', how_to_use_path, class: 'a-link-sidebar nav-link' %>
          </nav>
        </div>
          


          <div class="col-11">
            <div id="content">
              <%= yield %>
            </div>
          </div>
      </div>
    </div>
    
    <footer id="static-footer">
      <div id="footer-div">
      Pokémon images & names © 1995-2019 Nintendo/Game Freak.
      </div>
    </footer>

  </body>
</html>
