<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Compare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="static-header" class="col-12">
          Pokemon Compare
        </div>
      </div>
    </div>


      <div class="row">
        <div id="static-sidebar" class="col-1">
          <ul id="ul-link-sidebar">
            <li class="li-link-sidebar"><%= link_to 'Home', root_path, class: 'a-link-sidebar nav-link' %></li><br />
            <li class="li-link-sidebar"><%= link_to 'My Party', partys_path, class: 'a-link-sidebar nav-link' %></li>
          </ul>
        </div>

        


        <div id="content" class="col-11">
          <%= yield %>
        </div>
      </div>

    </div>

    
  </body>
</html>
